@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* TerraLoom Brand Colors */
  --color-primary: #2D4F1E;
  --color-secondary: #C0573E;
  --color-accent: #E9B44C;
  --color-base-100: #FBFBF2;
}

:root {
  --background: #FBFBF2;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}